<!DOCTYPE html>
<html lang="pt-br">
    {% extends 'base.html' %}
    {% load static %}

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link rel="stylesheet" href="{% static 'css/estilo_h.css' %}">

</head>

<body>
    <header class="header">
        <nav class="header__nav">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Sair</a></li>
            </ul>
        </nav>
    </header>

    <section class="begin">
        <div class="begin__title">
        </div>
    </section>
  
    
</body>

</html>