<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="css/estilo_l.css">
</head>

<body>
    
     <form action="#" method="get">  <!-- mudar para post -->
        <fieldset>
            <legend>Login</legend>

            <label for="user">Usuário</label>            
            <input type="text" id="user" required autofocus>

            <label for="pass">Senha</label>            
            <input type="password" id="pass" required>

            <input type="submit" value="Entrar" class="btn">
            <div class="fim">
                <p>Ainda não tem Conta? <a href="#">Cadastre-se</a></p>
            </div>

        </fieldset>
    </form>
    
</body>
</html>